.DS_Store

# Ignore updates on the database config file.
application/config/database.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
