body{
    background-color: #732C7B;
}
/* Standard box color */
.std-box-color{
    /* background: #b021ff; */
    background: white;
}
/* Rounded */
/*
.std-box-color, .navbar-inner{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
*/

/* Don't want borders on the table for contact information. */
.contact-table td{
    border: none;
}

.new-product-form {
        margin-left: 25px;
}

/* General clear css to fix some wierd stuff! */
.clear{
	float: none;
	clear: both;
}

/* Navigation bar */
#dansi-navbar .navbar *{
    background-color: #421C52;
    color: #FFFFFF;
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/*
-----------------------------------------------
    Responsiveness stuff!
-----------------------------------------------
*/

/* Remove the top 3 items in the gallery at smaller sized screens. */
@media screen and (max-width: 1024px) {
    .best-sale {
        display: none !important;
    }
}

